# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Django
*.log
local_settings.py
db.sqlite3
/media
/staticfiles

# Env
.env
.env.* 

# Docker
*.tar
*.log

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

